<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Add a Car</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content padding class="animated fadeIn">
      <form [formGroup]="addCarForm" class="list-form">
          <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
              <!--<ion-icon name="navigate" item-start></ion-icon>-->
              {{ 'app.label.address' | translate }}
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="address"></ion-input>
          </ion-item>
          <ion-text color="danger">
              <h4>CAR MODEL</h4>
            </ion-text>
                <ion-item no-padding class="animated fadeInUp">
                <ion-label> <!--{{ 'app.label.make' | translate }}--> Make</ion-label>
                <ion-select placeholder="Select One" formControlName="make">
                    <ion-select-option value="bmw">BMW</ion-select-option>
                    <ion-select-option value="chevrolet">Chevrolet</ion-select-option>
                    <ion-select-option value="dodge">Dodge</ion-select-option>
                    <ion-select-option value="fiat">FIAT</ion-select-option>
                    <ion-select-option value="ford">Ford</ion-select-option>
                    <ion-select-option value="honda">Honda</ion-select-option>
                    <ion-select-option value="toyota">Toyota</ion-select-option>
                    <ion-select-option value="volvo">Volvo</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item no-padding class="animated fadeInUp">
                  <ion-label> <!--{{ 'app.label.model' | translate }}--> Model</ion-label>
                  <ion-select placeholder="Select One" formControlName="model">
                      <ion-select-option value="bmw">BMW</ion-select-option>
                      <ion-select-option value="chevrolet">Chevrolet</ion-select-option>
                      <ion-select-option value="dodge">Dodge</ion-select-option>
                      <ion-select-option value="fiat">FIAT</ion-select-option>
                      <ion-select-option value="ford">Ford</ion-select-option>
                      <ion-select-option value="honda">Honda</ion-select-option>
                      <ion-select-option value="toyota">Toyota</ion-select-option>
                      <ion-select-option value="volvo">Volvo</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item no-padding class="animated fadeInUp">
                    <ion-label> <!--{{ 'app.label.year' | translate }}--> Year</ion-label>
                    <ion-select placeholder="Select One" formControlName="year">
                        <ion-select-option value="2017">2017</ion-select-option>
                        <ion-select-option value="2018">2018</ion-select-option>
                        <ion-select-option value="2019">2019</ion-select-option>
                   </ion-select>
                  </ion-item>

            <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating">
              <!--<ion-icon name="navigate" item-start></ion-icon>
              {{ 'app.label.cc' | translate }}-->
              CC
            </ion-label>
            <ion-input color="secondary" type="text" formControlName="cc"></ion-input>
          </ion-item>
          <ion-text color="danger">
              <h4>TRANSMISSION</h4>
            </ion-text>
          <ion-row radio-group>
              <ion-col>
                   <ion-item>
                      <ion-label> <!--{{ 'app.label.automatic' | translate }}-->Automatic</ion-label>
                      <ion-radio mode="md" item-left value="A" formControlName="trans"></ion-radio>
                 </ion-item>
               </ion-col>
          
              <ion-col>
                  <ion-item>
                      <ion-label><!--{{ 'app.label.manual' | translate }}-->Manual</ion-label>
                      <ion-radio mode="md" item-left value="B" formControlName="trans"></ion-radio>
                 </ion-item>
              </ion-col>
             </ion-row>
      </form>   
        <ion-button expand="full" color="danger" (click)="addCar()" >Next</ion-button>
  </ion-content>
  