
<ion-content padding>
    <ion-text color="danger" class="ion-text-center">
        <h4>UPLOAD CAR IMAGES</h4>
      </ion-text>

      <ion-text padding>
          <p>Please upload a cover photo for your car's profile and at least one photo of both the interioe  and exterior</p>
        </ion-text>
        <ion-row>
          <ion-col>
        <ion-img width="30" height="30" src="../../assets/img/logo.png" style="width: 168px;"></ion-img>
      </ion-col>
      <ion-col>
          <ion-img width="30" height="30" src="../../assets/img/test.png" style="width: 168px;"></ion-img>
        </ion-col>
       </ion-row>
       <ion-text padding>
          <p>Please upload a clear pictures of your car's exterior in good lighting and with minimal background content </p>
        </ion-text>
        <ion-row>
            <ion-col>
          <ion-img width="30" height="30" src="../../assets/img/logo.png" style="width: 168px;"></ion-img>
        </ion-col>
        <ion-col>
            <ion-img width="30" height="30" src="../../assets/img/test.png" style="width: 168px;"></ion-img>
          </ion-col>
         </ion-row>
         <ion-text padding>
            <p>we recommend providing a compreehensive view of your car's interior that includes photos pf the dashboard and back seats</p>
          </ion-text>
          <ion-button expand="full" color="danger">Next</ion-button>
</ion-content>
