<ion-content padding class="animated fadeIn login auth-page">
 

  <div class="bg-div"></div>
    
      <div class="auth-content">
    
        <!-- Logo -->
        <div padding-horizontal text-center class="animated fadeInDown">
          <div class="logo"></div>

        </div>
        <ion-button icon-left size="medium" expand="full" [routerLink]="['/login-driver']"  color="dark"   tappable>
          <ion-icon name="log-in"></ion-icon>
         I'm Driver
        </ion-button> 
  
        <p text-center>
          <ion-text color="light">
            Or :
          </ion-text>
        </p>

        <ion-button icon-left size="medium" expand="full" [routerLink]="['/login']"   color="medium"   tappable>
          I'm Customer
        </ion-button> 
        </div>
        </ion-content>
 